<main>
  <article>
    <!-- 
      - #CONTACT
    -->
    <section class="section contact has-bg-image" aria-labelledby="contact-label"
      >
      <div class="container" style="margin-bottom: 255px;">
        <div class="contact-content">
          <ul class="contact-list">
            <li class="contact-item">
              <div class="item-icon" style="background-color: hsl(90, 99%, 32%)">
                <ion-icon name="logo-whatsapp" aria-hidden="true"></ion-icon>
              </div>
              <div>
                <p class="label-lg">Phone</p>
                <a href="https://web.whatsapp.com/send?phone=+5534996455888" class="body-lg">+55 (34) 99645 5888</a>
              </div>
            </li>
            <li class="contact-item">
              <div class="item-icon" style="background-color: hsl(41, 99%, 64%)">
                <ion-icon name="mail" aria-hidden="true"></ion-icon>
              </div>
              <div>
                <p class="label-lg">Mail</p>
                <a href="mailtto:debora.af.schmiele@gmail.com" class="body-lg">debora.af.schmiele@gmail.com</a>
              </div>
            </li>
            <li class="contact-item">
              <div class="item-icon" style="background-color: hsl(210, 85%, 73%);">
                <ion-icon name="logo-linkedin" aria-hidden="true"></ion-icon>
              </div>
              <div>
                <p class="label-lg">Lindedin</p>
                <a href="https://www.linkedin.com/in/debora-amorim/" class="body-lg">linkedin.com/in/debora-amorim/</a>
              </div>
            </li>
            <li class="contact-item">
              <div class="item-icon" style="background-color: hsla(0, 0%, 0%, 0.5);">
                <ion-icon name="logo-github" aria-hidden="true"></ion-icon>
              </div>
              <div>
                <p class="label-lg">GitHub</p>
                <a href="https://github.com/DebAmorim" class="body-lg">github.com/DebAmorim</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </article>
</main>