<main>
  <!-- 
      - #ABOUT
    -->
    <section class="section about has-bg-image" aria-label="about me"
    style="background-image: url('./assets/service-bg.png'); margin-bottom: -15px;">
      <div class="container">
        
        <div class="about-content">
          <h2 class="title-lg">I'm a Full-stack Developer with over 5 years of experience.</h2>
          <p class="body-md section-text">
              I am an engineer passionate about programming and web development.
              With over 5 years of experience as a full-stack engineer,
              I am currently committed to advancing my skills in Angular and NodeJs in order to improve product quality. 
          </p>
        </div>

        <section class="section skill" aria-labelledby="skill-label">
      <div class="container">
        <div class="skill-content">
          <h2 class="section-title headline-md" id="skill-label">My Skills</h2>
          <ul class="skill-list">
            
            <li>
              <div class="card card-sm" style="background-color: hsl(0, 99%, 64%)">
                <div class="card-media">
                  <ion-icon name="logo-angular"></ion-icon>
                </div>
                <h2 class="card-title">Angular</h2>
              </div>
            </li>
            
            <li>
              <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">
                <div class="card-media">
                  <ion-icon name="logo-nodejs"></ion-icon>
                </div>
                <h2 class="card-title">Nodejs</h2>
              </div>
            </li>
            
            <li>
              <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">
                <div class="card-media">
                  <ion-icon name="logo-react"></ion-icon>
                </div>
                <h2 class="card-title">React JS</h2>
              </div>
            </li>
            
            <li>
              <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">
                <div class="card-media">
                  <ion-icon name="logo-javascript"></ion-icon>
                </div>
                <h2 class="card-title">JavaScript</h2>
              </div>
            </li>
            
          </ul>
        </div>
      </div>
    </section>
      </div>
    </section>

     
</main>