<main *ngIf="blogPost$ | async as blogPost">
  <article>
    <section class="section portfolio has-bg-image" aria-labelledby="portfolio-label"
    style="background-image: url('./assets/service-bg.png')">
      <div class="container">
        <h2 class="section-title headline-md text-center" id="portfolio-label">{{blogPost.fields.title}}</h2>
        
        <div class="portfolio-card" style="display: block;">
          <div style="display: flex;">
            <span class="chip label-md">{{blogPost.fields.updatedDate.slice(0, 10)}}</span>
            <p style="margin: 3px;"><strong>{{blogPost.fields.author}}</strong></p>
          </div>
            
          <div style="margin-bottom: 20px;">
            <div class="card-banner img-holder" style="--width: 80%; --height: auto;">
              <img [src]="blogPost.fields.featuredImage.fields.file.url" width="80%" height="auto" loading="lazy"
                alt="Website Design for Marketing Agency Startup" class="img-cover">
              
            </div>
          </div>

          <div class="card-content" style="text-align: justify;" class="formatted-text">

            <div [innerHTML]="formatBody(blogPost.fields.content)"></div>

          </div>
      </div>

      </div>
    </section>
  </article>
</main>
