<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deb Dev</title>
</head>
<body class="body">

            
    <div class="presentation">
        <div class="texts">

            <p class="title">
                <strong>Hello, I'm </strong>
            </p>
            <p style="margin-top: -25px;" class="title">
                <strong>Débora Schmiele</strong>
            </p>
            <p style="max-width: 300px; font-family: monospace; color: black; margin-top: -20px;"> I'm a Full Stack Web Developer based in Patos de Minas, MG - Brasil.</p>
        </div>
        
        <img class="image" src="/assets/profile-photo.jpg"/>
    </div>
    
</body>
</html>

