<main>
    <article>
      <!-- 
        - #HERO
      -->
      <section class="section hero" aria-label="home">
        <div class="container">
          <div class="hero-content">
            <p class="hero-subtitle">Hi, My name is Débora</p>
            <h1 class="headline-lg">I'm a Engineer</h1>
            <p class="hero-text body-md">
              Based in Patos de Minas - MG. Brasil.
            </p>
            <p class="hero-text body-md">
              Passionate about code, travels and board-games.
            </p>

            <!-- <a href="#" class="btn btn-primary">Let's Start</a> -->
          </div>
          <figure class="hero-banner">
            <img src="./assets/hero-banner.png" width="auto" height="400px"
              alt="Débora Schmiele" style="width: 106%;">
              <img src="" width="auto" height="400px"
              alt="Débora Schmiele" style="width: 106%;">
          </figure>
        </div>
      </section>
     
     
     
    </article>
  </main>

