<!-- 
    - #HEADER
  -->
  <header class="header" data-header>
    <div class="container">
      <a routerLink="/home" class="logo">
        <img src="./../../../../assets/logo.png" width="50" height="28" alt="Débora Schmiele">
      </a>
      <nav class="navbar" data-navbar [ngClass]="status ? 'active' : ''">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a routerLink="/home" class="label-lg navbar-link has-after" routerLinkActive="active">Home</a>
          </li>
          <li class="navbar-item">
            <a routerLink="/about" class="label-lg navbar-link has-after" routerLinkActive="active">About</a>
          </li>
          <li class="navbar-item">
            <a routerLink="/services"  class="label-lg navbar-link has-after" routerLinkActive="active">Experience</a>
          </li>
          <!-- <li class="navbar-item">
            <a routerLink="/portfolio"  class="label-lg navbar-link has-after" routerLinkActive="active">Blog</a>
          </li> -->
          <li class="navbar-item">
            <a routerLink="/contact"  class="label-lg navbar-link has-after" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </nav>
      <a href="https://web.whatsapp.com/send?phone=+5534996455888" class="btn btn-primary">Contact Now</a>
      <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler (click)="addToggle()">
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>
    </div>
  </header>
