<div class="navi-bar">

    
        <!-- <div style="font-family: monospace;margin-left: 20%; font-size: 24px; margin-top: 10px;">
            <strong style="color: blanchedalmond;">Débora Schmiele</strong>
        </div> -->

        <div style="display: flex; margin-left: 10%;">
            <div style="" class="sessions">
                <strong> Home </strong>
            </div>
            
            <div class="sessions">
                <strong> About </strong>
            </div>
            
            <div class="sessions">
                <strong> Blog </strong>
            </div>
        </div>

        <button class="button">
            Contact Me
        </button>

</div>