.navi-bar {
    width: 100%;
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.sessions {
    /* padding: 15px; */
    margin-top: 30px;
    margin-right: 15px;
    cursor: pointer;
    color: black;
    font-family: monospace;
}

.contact {
    font-family: monospace;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    height: 30px;
    /* margin-right: 20%; */
    font-family: monospace;
    margin-top: 15px;
    margin-right: 20%;
    /* margin-left: 40%; */
    width: auto;
    cursor: pointer;
}