<main>
  <article>
    <!-- 
      - #SERVICE
    -->
    <section class="section service has-bg-image" aria-labelledby="service-label"
      style="background-image: url('./assets/service-bg.png')">
      <div class="container" style="margin-bottom: -45px; margin-top: -30px;">
        <!-- <h2 class="section-title headline-md text-center" id="service-label">My Services</h2> -->
        <ul class="service-list">
          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">
              <div class="card-media">
                <!-- <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon> -->
                <img src="./assets/1631339315641.jpg" width="50%" />
              </div>
              <div>
                <h3 class="card-title title-sm">Embraer</h3>
                <p class="body-sm">
                  Providing services for Embraer through the company ART IT.
                  For the last 6 months I have been leading the front-end development of the EPIC - Efficiency Projects & Ideas Center project.
                  This is a system for managing initiatives related to aircraft developed by Embraer, with the aim of replacing the previously used management system, Wave by McKinsey.
                </p>
                <p class="body-sm">
                  <br>
                </p>
              </div>
            </div>
          </li>
          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">
              <div class="card-media">
                <!-- <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon> -->
                <img src="./assets/artitbrasil_logo.jpg" width="50%" />
              </div>
              <div>
                <h3 class="card-title title-sm">ART IT</h3>
                <p class="body-sm">
                  I am having the opportunity to work with different companies.
                  Among them, and the most recent, is Embraer. For the last 6 months I have been leading the front-end development of the EPIC - Efficiency Projects & Ideas Center project.
                  This is a system for managing initiatives related to aircraft developed by Embraer, with the aim of replacing the previously used management system, Wave by McKinsey.
                </p>
              </div>
            </div>
          </li>
          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">
              <div class="card-media">
                <img src="./assets/space_sheep_games_logo.jpg" width="50%" />
              </div>
              <div>
                <h3 class="card-title title-sm">Space Sheep Games</h3>
                <p class="body-sm">
                  Space Sheep Games is a game studio start up. I was part of the platform team, assisting in the development of tools that serve game developers.
                  The last project I participated in consists of an application that structures A/B testing for several games.
                  We developed a tool for segmenting users into test and control groups, and customized test configuration forms using JSON schemas.
                </p>
              </div>
            </div>
          </li>
          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">
              <div class="card-media">
                <img src="./assets/sonner_sistemas_logo.jpg" width="50%" />
              </div>
              <div>
                <h3 class="card-title title-sm">Sonner Sistemas</h3>
                <p class="body-sm">
                  Sonner is an E-Gov that provides integrated systems for city halls. One of the major challenges the company faced was the migration of all GWT technology modules to Angular.
                  I integrated migration teams and later worked on the development of SPA's for the Financial Collection, Municipal Technical Register and Purchasing systems.
                </p>
                <p class="body-sm">
                  <br>
                </p>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
    </section>
  </article>
</main>