<main *ngIf="blogPosts$ | async as blogPosts">
  <article>
    <!-- 
      - #PORTFOLIO
    -->
    <section class="section portfolio has-bg-image" aria-labelledby="portfolio-label"
    style="background-image: url('./assets/service-bg.png')">
      <div class="container">
        <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Articles</h2>
        <ul class="portfolio-list">
          <div *ngFor="let blogPost of blogPosts.items; let i = index">
            
              <li>
                <div class="portfolio-card">
                  <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                    <img [src]="blogPost.fields.featuredImage.fields.file.url" width="800" height="540" loading="lazy"
                      alt="Website Design for Marketing Agency Startup" class="img-cover">
                    
                  </div>
                  <div class="card-content">
                    <span class="chip label-md">{{blogPost.fields.updatedDate.slice(0, 10)}}</span>
                    <h3 class="title-md">{{blogPost.fields.title}}</h3>
                    <p>{{blogPost.fields.author}}</p>
                    <p class="card-text">
                      {{blogPost.fields.summary}}
                    </p>
                    <a [routerLink]="[blogPost.sys.id]" class="btn btn-primary">Read more</a>
                  </div>
                </div>
              </li>            
          </div>
        </ul>
      </div>
    </section>
  </article>
</main>